{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% load pwa %}
    {% progressive_web_app_meta %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/navbar.css">

</head>
<body>
    <div class="container">
        <div class="navbar">
            <!-- Navbar content here -->
            <div class="navbar">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
                <a href="#">Link 4</a>
            </div>
           
        </div>
        <div class="sidebar">
            <!-- Sidebar content here -->
            <a href="#">
                <button>Button 1</button>
            </a>
            <a href="#">
                <button>Button 2</button>
            </a>
            <a href="#">
                <button>Button 3</button>
            </a>
            <a href="#">
                <button>Button 4</button>
            </a>
            <a href="#">
                <button>Button 5</button>
            </a>
            <a href="#">
                <button>Button 6</button>
            </a>
            <a href="#">
                <button>Button 7</button>
            </a>
            <a href="#">
                <button>Button 8</button>
            </a>
            <a href="#">
                <button>Button 9</button>
            </a>
            <a href="#">
                <button>Button 10</button>
            </a>
            
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.5/dist/FileSaver.min.js"></script>
</body>
</html>